body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color:#Ffe7d0;
    position: relative;

}
a {
    color: var(--pink);
  }

.mt-10 {
    margin-top: 150 !important;
    margin-bottom: 150 !important;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #e0c45c;
    color: #85203b;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #fff98c;
    color: #cb3b3b;
  }
  
  div.mainContainer {
    margin-left: 200px;
      padding: 1px 16px;
    height: 1000px;
  }
  
  div.logo{
      text-align: center;
      padding-top: 1%;
      height: 100;
      width: 100;
  }
  
  div.content{
      max-width: 90%;
      margin: 0 auto;
      text-align: justify;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.mainContainer {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  
  /* .footer {
    background-color: #2d3436;
    bottom: 0;
    width: 100%;
    height: 250px;
  } */

  .menu {
    -webkit-transition: 0.1s -webkit-transform linear;
    transition: 0.1s -webkit-transform linear;
    transition: 0.1s transform linear;
    transition: 0.1s transform linear, 0.1s -webkit-transform linear;
    position: relative;
    background: 0;
    float: left;
    margin: 1rem 0 1rem 1rem;
    height: 2.7rem;
    width: 3.5rem;
    z-index: 1;
    outline: 0;
    padding: 0;
    border: 0;
  }
  
  .menu:focus,
  .menu:focus,
  [type='submit']:focus {
    outline: none;
  }
  
  .bar,
  .bar::before,
  .bar::after {
    -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s,
      0.2s -webkit-transform linear;
    transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s,
      0.2s -webkit-transform linear;
    transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s,
      0.2s transform linear;
    transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s,
      0.2s transform linear, 0.2s -webkit-transform linear;
    position: absolute;
    background: #000;
    margin: auto;
    width: 100%;
    height: 0.3rem;
    content: '';
    top: 50%;
    left: 0;
  }
  .bar {
    margin-top: -0.2rem;
  }
  .bar::before {
    top: -1.2rem;
  }
  .bar::after {
    top: 1.2rem;
  }
  .bar::before,
  .bar::after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .active .bar {
    background: 0;
  }
  .active .bar::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .active .bar::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .active .bar::before,
  .active .bar::after {
    top: 0;
  }
  .active .bar,
  .active .bar::before,
  .active .bar::after {
    -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear,
      0.2s -webkit-transform linear 0.2s;
    transition: 0.2s background linear 0.1s, 0.2s top linear,
      0.2s -webkit-transform linear 0.2s;
    transition: 0.2s background linear 0.1s, 0.2s top linear,
      0.2s transform linear 0.2s;
    transition: 0.2s background linear 0.1s, 0.2s top linear,
      0.2s transform linear 0.2s, 0.2s -webkit-transform linear 0.2s;
  }
  
  nav {
    width: 250px;
    height: 100%;
    background: #eaeaeaee;
    position: fixed;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transition: -webkit-transform 0.6s
      cubic-bezier(0.56, 0.1, 0.34, 0.91);
    transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91),
      -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  }
  .menu-open nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  nav ul li {
    padding: 20px 5px;
    font-size: 2rem;
      text-shadow: #000;
  }
  nav ul li:hover {
    background-color: #a4b0be;
      color: black;
  }

  .content {
    max-width: 1240px;
    margin: 0 auto;
    justify-content: space-evenly;
}
.navbar-nav a:hover {
	background-color: #a4b0be;
	color: black;
}
#active {
	background-color: #747d8c;
	color: black;
}
.container-fluid {
	padding-left: 0;
  padding-right: 0;
  height: 100px;
  background-color: #1b1b1b;
}

/* nav ul li a {
	font-weight: 600;
	font-size: 1.5rem;
} */
.allFooter {
	background-color: #1b1b1b;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.container-fluid input[type=text]{
  float:right;
  padding: 10px;
  margin-top: 25px;
  margin-right: 40px;
  border: none;
  font-size: 17px;
  /* background-color:#ecf0f1; */
  width:500px; 
}